<body>
  <header>
    <!-- Header content here -->
  </header>
  <main>
    <div class="user-info">
      <div class="user-photo">
        <img src="user-photo.jpg" alt="User photo">
      </div>
      <div class="user-details">
        <h1 class="username">{{imee}} {{last}}</h1>
        <p class="user-email">{{email}}</p>
      </div>
    </div>
    <div class="bookmarks">
      <h2>Bookmarks</h2>
      <ul>
        <li *ngFor="let bookmark of bookmarks">
          {{ bookmark.name }}
          <!-- <button  routerLink="acc/details/{{bookmark.id}}">click</button> -->
          <!-- <a routerLink="acc/details/{{bookmark.id}}"></a> -->
        </li>
      </ul>
    </div>
    <app-add-movie (data) ="dataFunkIme($event)"></app-add-movie>
  </main>
  
</body>
